<% if @model == "User" %>
  <h3>Users search for "<%= @word %>"</h3>
  <%= render "users/index", users: @users %>
<% elsif @model == "Book" %>
  <h3>Books search for "<%= @word %>"</h3>
  <%= render "books/index", books: @books %>
<% elsif @model == "Group" %>
  <h3>Groups search for "<%= @word %>"</h3>
  <%= render "groups/index", groups: @groups %>
<% end %>
